/* prevent 'bounce' in scrolling */
html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
    overflow: auto;
    color: #888888;
    background-color: #060606;
}

.hidden {
    display: none;
}

.modal-content {
    background-color: #202020;
}

.btn-default {
  color: #ffffff;
  background-color: #424242;
  border-color: #424242;
}

/* images are displayed in viewports */
.viewport {
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    position:absolute
}

.overlay {
    position: absolute;
    color: #e4ad00;
}

.imageViewer {
}

.myNav {
    margin: 0;
    border:0;
}

.viewportWrapper {
    box-sizing: border-box;
    border: 2px solid #777;
}
.renderTime {}
.fps {}

.csthumbnail {
    color: white;
    background-color:black;
    width:100px;
    height:100px;
    border: 0px;
    padding: 0px;
}

.viewer {
    /*position: absolute;left: 110px;width: 100%;*/
    float: left;
    box-sizing: border-box;
}

.thumbnailSelector {
    width:106px;
    float:left;
    margin-left:0px;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
body, html {height:100%}

#wrap {height:100%}

.studyContainer {
    margin-top: 2px;
    margin-left:0px;
    margin-right:0px;
    padding: 0px;
}

.container {
}

.navbar-default {
  background-color: #060606;
  border-color: #000000;
}

.thumbnails {
    margin:0px;
    margin-bottom: 0px;
    overflow-y:scroll;
    overflow-x:hidden;
}

.table {
  border-collapse: collapse;
  border-color: gray;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 4px;
    border: 1px solid #282828;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #202020;
}

.studyRow {
    margin-left: 0px;
    margin-rigth: 0px;
    height:100%;
}
.row {
    margin:0;
}

a.list-group-item {
    background-color: black;
    padding: 2px;
    border: 1px solid #424242;
    z-index: 5;
}
a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    background-color: #424242;
    border-color: #4e4e4e;
}

.nav-tabs {
  border-bottom: 1px solid #424242;
}

.nav-tabs>li>a {
    background-color: #202020;
    border-color: #424242;
    color: #424242;
    padding: 3px 10px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    background-color: #424242;
    border-color: #424242;
    color: #ffffff;
    padding: 3px 10px;
}

.dropdown-menu {
  min-width: 40px;
}

.contenedor {
   max-width: 100%; /* La anchura máxima del contenedor será el 100% del viewport width */
   margin: 0 auto; /* Centra el contenedor horizontalmente */
   text-align: center; /* Centra el contenido dentro del contenedor */
}
        
.contenedor img {
    max-width: 100%; /* La anchura máxima de la imagen será el 100% del contenedor */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción de la imagen */
}

.enlace {
   display: block; /* Hace que el enlace ocupe todo el ancho disponible */
   max-width: 100%; /* La anchura máxima del enlace será el 100% del contenedor */
   margin: 10px 0; /* Añade un margen superior e inferior para separar los elementos */
}

@media (max-width: 600px) {
            /* Estilos específicos para pantallas con un ancho máximo de 600px */
    .enlace {
                font-size: 14px; /* Cambia el tamaño de la fuente para dispositivos más pequeños */
     }
}